.spacing {
    margin-bottom: 120px; 
}

.container{
    max-width: 800px;
    margin: 0 auto; 
    text-align: left; 
}

.heading {
    max-width: 600px;
    margin: 0 auto; 
    text-align: left; 
}  

.questions{
    max-width: 600px;
    margin: 0 auto; 
    text-align: left; 
}

.bold {
    font-weight: bold;
}

.img{
    border-radius: 10px;
}

