.title {
    font-size: 5em; 
    text-align: left; 
    margin: 550px 0 -20px 0;
}
  
.home_hr {
    height: 3px;
    color: black;
    background-color: black;
    border: none;
    margin: 0;
}
  
.title2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: -10px 0 0 0;
}

.stickman{
    position: absolute;
    top: 63.8%; 
    left: 80%; 
    transform: translate(-50%, -50%);
}